<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- we loggen alls waarschuwingen -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Logger "application" is default Play logger -->
    <logger name="application" level="INFO"/>

    <!-- dit is voor access logging -->
    <logger name="requests" level="INFO"/>

    <!-- Set to level DEBUG to log all SQL statements -->
    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG"/>

    <logger name="com.zaxxer.hikari" level="WARN" />

</configuration>